:root{
    --fondo:rgb(39, 25, 22);
    --secundario:#E06E57;
    --terciario:#35211d;
    --letra:#F3F2F1;
    --rojoO:rgb(141, 37, 16);
    --rojo:#E22600;
    --amarillo:#c9c501;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body{
    background-color: var(--fondo);
}



main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.languageSelection{
    margin: auto;
    width: 50vw;
    height: 50vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.languageSelection h1{
    color:var(--letra);
    text-align: center;
}

.flagsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

img{
    width: 10em;
    filter: saturate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 2s;

    
}
img:hover{
    filter:saturate(1);
    transform: scale(1.2);
}